<div class="tabs-list">
    <div class="tabs-list__item">Checkbox</div>
</div>
<div class="tabs-divider" role="separator" aria-label="Divider"></div>
<div class="tabs-content">
    <form [formGroup]="form">
        <div class="tabs-content__item">
            <span class="tabs-content__title">Checkbox</span>
            <app-checkbox
                formControlName="checkbox"
                [label]="label"
                [caption]="caption">
            </app-checkbox>
        </div>
    </form>
</div>
