<div class="tabs-list">
    <div class="tabs-list__item">Checkbox</div>
</div>
<div class="tabs-divider" role="separator" aria-label="Divider"></div>
<div class="tabs-content">
    <form [formGroup]="form">
        <div class="tabs-content__item">
            <span class="tabs-content__title">Checkbox</span>
            <div class="block">
                <app-checkbox
                    formControlName="checkbox"
                    [label]="label"
                    [caption]="caption"
                    [disabled]="disabled"
                    [readOnly]="readOnly"
                    [indeterminate]="indeterminate">
                </app-checkbox>
                <div class="control">
                    <button class="control__button" (click)="setDisabled()">Disabled</button>
                    <button class="control__button" (click)="setReadOnly()">Read only</button>
                    <button class="control__button" (click)="setError()">Error</button>
                    <button class="control__button" (click)="setIndeterminate()">Indeterminate</button>
                </div>
            </div>

        </div>
    </form>
</div>
