:host {
    display: flex;
}

.tabs {
    &-list {
        &__item {
            width: 200px;
            height: 40px;
            font-weight: 500;
            color: #746e7c;
            cursor: pointer;
            transition: color .3s ease;

            &:hover {
                color: #413e46;
            }
        }
    }

    &-divider {
        width: 1px;
        background: #cdcdcd66;
        margin-inline: 0.5rem;
    }

    &-content {
        margin-left: 40px;

        &__item {
            color: var(--hot-red);
        }

        &__title {
            display: inline-block;
            font-size: 30px;
            font-weight: 500;
            margin-bottom: 50px;
        }

        & .block {
            display: flex;
            column-gap: 200px;
        }

        & .control {
            &__button {
                display: block;
                margin-bottom: 8px;
            }
        }
    }
}
